/* *{
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 0px;
   
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */


/* .navbar-section {
    background-color: rgb(0 77 179);
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0 77 179) ;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
}

.list {
    display: flex;
    list-style: none;
    gap: 2rem;
    color: rgb(112, 112, 220);;
}

.list>:hover {
    color: white;
} */

/* .nav {
    color: white;
} */

/* .bar {
    padding: 1rem;
    font-weight: bold;
    background-color: white;
}

.first-div {
    padding-top: 10%;
    font-size: 40px;
    display: flex;
    padding-left: 2rem;
    background-color: rgb(0 77 179);
    color: white;
}

.second-div {
    width: 58%;
}

p {
    font-size: small;
}

.btn {
    font-size: small;
    border: solid 1px white;
    padding: 12px 15px;
    border-radius: 3px;
    margin-top: 2rem;
    background-color: rgb(0 77 179) ;
    color: white;
 } 

 .btn2 {
    font-size: small;
    background-color: white;
    color: blue;
    padding: 20px 28px;
    border-radius: 6px;
    margin-bottom: 2rem;
 }

 .tnb {
    font-size: small;
    margin-bottom: 0rem;
    margin-left: 0rem;
    padding-bottom: 1rem;
 }

 .first section {
    background-color: rgb(0 77 179);
   
 }

 .belt {
    display: flex;
    gap: 4rem;
   padding: 3rem 0rem;
   padding-right: 3rem;
   padding-left: 7rem;
   background-color: #ccdbf0;

 }

 .main-div {
    padding-top: 10%;
    font-size: 25px;
    display: flex;
    background-color: #f8f9fc;
    padding-left: 2rem;
    color: black;
 }


 .main-img { */
    /* display: flex; */
    /* width: 20%;
    height: 20%; */
 /* } */
/* 
 .user-img {
  
 } */
/* 
 .view {
    background-color: blue;
    font-size: small;
    border: solid 1px white;
    padding: 12px 15px;
    border-radius: 3px;
    margin-bottom: 1rem;
    color: white;
    margin-left: 3rem;
    
 } */

 /* .first {
    display: flex;
    padding-left: 2rem; */
    /* background-color: white; */
 /* }

 .aud {
  padding: 1rem 4rem;
  font-size: small;
  display: flex;
  gap: 1rem;
  color: gray;
  background-color: white; 
  border: solid 1rem #f8f9fc;
 }

 
 .second {
    display: flex;
    padding-left: 2rem; */
    /* background-color: white; */
 /* } */

 /* .doc {
    padding: 1rem 4rem;
    font-size: small;
    display: flex;
    gap: 1rem;
    background-color: white; 
    border: solid 1rem #f8f9fc;
    color: gray;
 } */

 /* .div-link {
    display: flex;
    background-color: #f8f9fc;

 } */

 /* .wi {
    padding: 2rem;
    margin: 1rem;
    gap: 0rem;
    width: 50%;
    text-decoration: none;
    background-color: white;
}


.wiv {
    padding: 2rem;
    margin: 1rem;
    gap: 0rem;
    width: 50%;
    text-decoration: none;
    background-color: white;  
  }

   
.div-best {
    font-size: 30px;
}

.grid {
      display: flex; */
    /* display: grid;
    grid-template-columns: repeat(2, minmax (0,1fr)); */
/* } */


